:root {
  --button-size: 15vw;
}

body {
  background-color: black;
}

.main-col {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.recognized-kanji {
  color: white;
  font-size: 6vmin;
  background-color: black;
}

.full-screen {
  position: fixed;
  /* background-color: aquamarine; */
  height: 100vh;
  width: 100vw;
  /* position: fixed; */
  left: 0;
  top: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap; */
}

#camera-feed {
  /* position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: blueviolet; */
  z-index: -10;
}

#canvas {
  /* position: fixed;
  width: 100%;
  height: 100%; */
  /* background-color: aquamarine; */
  /* border: 10px solid purple; */
  /* visibility: hidden; */
  z-index: -1;
}

#button-bar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 10vh;
  /* background-color: aqua; */
}

#retake-button {
  position: fixed;
  left: 20px;
  color: white;
  font-size: min(calc(var(--button-size) * 0.5), 40px);
  width: var(--button-size);
  height: var(--button-size);
  max-width: 80px;
  max-height: 80px;
  background-color: darkred;
  /* border: 5px solid white; */
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#retake-button:active {
  filter: brightness(1.1);
}

#button-border {
  /* position: fixed; */
  /* left: calc(50vw - var(--button-size) / 2); */
  /* bottom: 10vh; */
  border: 5px solid white;
  border-radius: 100%;
  width: var(--button-size);
  height: var(--button-size);
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#capture-button {
  width: 90%;
  height: 90%;
  background-color: aliceblue;
  border-radius: 100%;
}

#capture-button:active {
  filter: brightness(0.9);
}